
{% block wojewodztwo_widget %}
{% spaceless %}
        <input type="text" {{ block('widget_attributes') }} woj="00" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <script>
        var wojewodztwo_cache = {};
        $( "#{{ id }}" ).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                var term = request.term;
                if ( term in wojewodztwo_cache ) {
                  response( wojewodztwo_cache[ term ] );
                  return;
                }
                $.getJSON( Routing.generate('teryt_wojewodztwa', { term: term }), function( data, status, xhr ) {
                  wojewodztwo_cache[ term ] = data;
                  response( data );
                });
            },
            focus: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.nazwa );
              return false;
            },
            select: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.nazwa );
              $( "#{{ id }}" ).attr( "kod", ui.item.woj );
              return false;
            }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><span class='teryt-nazwa'>" + item.nazwa + "</span><br><span class='teryt-opis'>" + item.nazdod + "</span></a>" )
        .appendTo( ul );
    };
        </script>
{% endspaceless %}
{% endblock %}

{% block gmina_widget %}
{% spaceless %}
        <input type="text" {{ block('widget_attributes') }} rodz="0" gmi="00" pow="00" woj="00" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <script>

        var gmina_cache = {};
        $( "#{{ id }}" ).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                var term = request.term;
                if ( term in gmina_cache ) {
                  response( gmina_cache[ term ] );
                  return;
                }
                $.getJSON( Routing.generate('teryt_gminy', { term: term }), function( data, status, xhr ) {
                  gmina_cache[ term ] = data;
                  response( data );
                });
            },
            focus: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.label );
              return false;
            },
            select: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.nazwa );
              $( "#{{ id }}" ).attr( "gmi", ui.item.gmi );
              $( "#{{ id }}" ).attr( "woj", ui.item.woj );
              $( "#{{ id }}" ).attr( "pow", ui.item.pow );
              $( "#{{ id }}" ).attr( "rodz", ui.item.rodz );
              $( "#{{ wojewodztwoid }}").val(ui.item.wojewodztwo);
              $( "#{{ wojewodztwoid }}" ).attr( "woj", ui.item.woj );
              $( "#{{ powiatid }}").val(ui.item.powiat);
              $( "#{{ powiatid }}" ).attr( "woj", ui.item.woj );
              $( "#{{ powiatid }}" ).attr( "pow", ui.item.pow );
              return false;
            }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><span class='teryt-nazwa'>" + item.nazwa + "</span><br><span class='teryt-opis'>" + item.nazdod + "</span></a>" )
        .appendTo( ul );
    };
        </script>
{% endspaceless %}
{% endblock %}

{% block powiat_widget %}
{% spaceless %}
        <input type="text" {{ block('widget_attributes') }} pow="00" woj="00" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <script>

        var powiat_cache = {};
        $( "#{{ id }}" ).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                var term = request.term;
                if ( term in powiat_cache ) {
                  response( powiat_cache[ term ] );
                  return;
                }
                $.getJSON( Routing.generate('teryt_powiaty', { term: term }), function( data, status, xhr ) {
                  powiat_cache[ term ] = data;
                  response( data );
                });
            },
            focus: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.label );
              return false;
            },
            select: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.nazwa );
              $( "#{{ id }}" ).attr( "woj", ui.item.woj );
              $( "#{{ id }}" ).attr( "pow", ui.item.pow );
              $( "#{{ wojewodztwoid }}").val(ui.item.wojewodztwo);
              $( "#{{ wojewodztwoid }}" ).attr( "woj", ui.item.woj );
              return false;
            }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><span class='teryt-nazwa'>" + item.nazwa + "</span><br><span class='teryt-opis'>" + item.nazdod + "</span></a>" )
        .appendTo( ul );
    };
        </script>
{% endspaceless %}
{% endblock %}

{% block miejscowosc_widget %}
{% spaceless %}
        <input type="text" {{ block('widget_attributes') }} gmi="00" rodzgmi="0" pow="00" woj="00" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <script>
            
        var miejscowosc_cache = {};
        $( "#{{ id }}" ).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                var term = request.term;
                if ( term in miejscowosc_cache ) {
                  response( miejscowosc_cache[ term ] );
                  return;
                }
                $.getJSON( Routing.generate('teryt_miasta', { term: term }), function( data, status, xhr ) {
                  miejscowosc_cache[ term ] = data;
                  response( data );
                });
            },
            focus: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.label );
              return false;
            },
            select: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.nazwa );
              $( "#{{ id }}" ).attr( "woj", ui.item.woj );
              $( "#{{ id }}" ).attr( "pow", ui.item.pow );
              $( "#{{ id }}" ).attr( "gmi", ui.item.gmi );
              $( "#{{ id }}" ).attr( "rodzgmi", ui.item.rodzgmi );
              $( "#{{ wojewodztwoid }}").val(ui.item.wojewodztwo);
              $( "#{{ wojewodztwoid }}" ).attr( "woj", ui.item.woj );
              $( "#{{ powiatid }}").val(ui.item.powiat);
              $( "#{{ powiatid }}" ).attr( "woj", ui.item.woj );
              $( "#{{ powiatid }}" ).attr( "pow", ui.item.pow );
              $( "#{{ gminaid }}").val(ui.item.gmina);
              $( "#{{ gminaid }}" ).attr( "woj", ui.item.woj );
              $( "#{{ gminaid }}" ).attr( "pow", ui.item.pow );
              $( "#{{ gminaid }}" ).attr( "gmi", ui.item.gmi );
              $( "#{{ gminaid }}" ).attr( "rodzgmi", ui.item.rodzgmi );

              return false;
            }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><span class='teryt-nazwa'>" + item.nazwa + "</span><br><span class='teryt-opis'>gm. " + item.gmina + ", pow." + item.powiat + ", woj. " + item.wojewodztwo + "</span></a>" )
        .appendTo( ul );
    };
        </script>
{% endspaceless %}
{% endblock %}

{% block ulica_widget %}
{% spaceless %}
        <input type="text" {{ block('widget_attributes') }} pow="00" woj="00" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <script>
        var woj = '00',
                pow = '00',
                gmi = '00',
                rodzgmi = '0';
        
        var ulica_cache = {};
        $( "#{{ id }}" ).autocomplete({
            minLength: 0,
            source: function( request, response ) {
                var term = request.term;
                woj = $( "#{{ miejscowoscid }}" ).attr( "woj" );
                pow = $( "#{{ miejscowoscid }}" ).attr( "pow" );
                gmi = $( "#{{ miejscowoscid }}" ).attr( "gmi" );
                rodzgmi = $( "#{{ miejscowoscid }}" ).attr( "rodzgmi" );
                if ( term in ulica_cache ) {
                  response( ulica_cache[ term ] );
                  return;
                }
                $.getJSON( Routing.generate('teryt_ulice', { term: term, wojewodztwo: woj, powiat: pow, gmina: gmi, rodzaj_gminy: rodzgmi }), function( data, status, xhr ) {
                   ulica_cache[ term ] = data;
                  response( data );
                });
            },
            focus: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.label );
              return false;
            },
            select: function( event, ui ) {
              $( "#{{ id }}" ).val( ui.item.cecha + ui.item.nazwa_2 + ui.item.nazwa_1 );
              $( "#{{ id }}" ).attr( "woj", ui.item.woj );
              $( "#{{ id }}" ).attr( "pow", ui.item.pow );
              $( "#{{ id }}" ).attr( "gmi", ui.item.gmi );
              $( "#{{ id }}" ).attr( "rodzgmi", ui.item.rodz_gmi );

              return false;
            }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><span class='teryt-nazwa'>" + item.cecha + " " + item.nazwa_1 + "</span><br><span class='teryt-opis'>" + item.nazwa_2 + "</span></a>" )
        .appendTo( ul );
    };
        </script>
{% endspaceless %}
{% endblock %}
